body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  font-weight: 300;
}

.myred-text {
  color: #ee6e73;
}

.myred {
  background-color: #ee6e73;
}

.btn.myred:hover {
  background-color: #8d4c4e;
}

.mylabeltext {
  font-size: 18px;
}
