doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content='LE MONIES DE SAGAZAN Mayeul - Portfolio')
		meta(name='author' content='LE MONIES DE SAGAZAN Mayeul')
		title Mayeul - Portfolio
		// Lato Font
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
		// Stylesheet
		link(href='style/gallery-materialize.min.css' rel='stylesheet')
		link(href='style/gallery-additions.min.css' rel='stylesheet')
		// Material Icons
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
	body
		// Navbar and Header
		nav.nav-extended(style="user-select: none;")
			.nav-background(style="opacity: 1;")
				.pattern.active(style="background-image: url('/images/content/clouds2.png');")
			.nav-wrapper.container
				a.brand-logo(href='mailto:m.lemoniesdesagazan@gmail.com' style="color: #daa45c;")
					i.material-icons mail
					| Email me
				//- a.sidenav-trigger(href='#' data-target='nav-mobile')
					i.material-icons menu
				ul.right.hide-on-med-and-down.notvisible
					li.active
						a(href='#') Gallery
					li
						a(href='#') Dark Theme
					li
						a(href='#') Blog
					li
						a(href='#') Docs
					li
						a.dropdown-trigger(href='#' data-target='feature-dropdown')
							| Features
							i.material-icons.right arrow_drop_down
				// Dropdown Structure
				ul#feature-dropdown.dropdown-content
					li
						a(href='full-header.html') Fullscreen Header
					li
						a(href='horizontal.html') Horizontal Style
					li
						a(href='no-image.html') No Image Expand
				.nav-header.center(style="color: #393f4a;")
					h1 LE MONIES DE SAGAZAN Mayeul
					.tagline(style="font-size: 20px; color: #7b7f87;") Projects
			// Fixed Masonry Filters
			.categories-wrapper.lighten-1#sortbox
				.categories-container
					ul.categories.container
						li.active
							a(href='#all') All
						li
							a(href='#web') Web
						li
							a(href='#cli-app') Cli-app
						li
							a(href='#lib') Lib
		ul#nav-mobile.sidenav.notvisible
			li.active
				a(href='#')
					i.material-icons camera
					| Gallery
			li
				a(href='#')
					i.material-icons brightness_3
					| Dark Theme
			li
				a(href='#')
					i.material-icons edit
					| Blog
			li
				a(href='#')
					i.material-icons school
					| Docs
			li
				a(href='#')
					i.material-icons fullscreen
					| Fullscreen Header
			li
				a(href='#')
					i.material-icons swap_horiz
					| Horizontal Style
			li
				a(href='#')
					i.material-icons texture
					| No Image Expand
		// Gallery
		#portfolio.section.gray
			.container
				.gallery.row#projects
					include portfolio/_gallery

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		
		template#dataProjects #{allProjects}
		script window.allProjects = JSON.parse(`${$("#dataProjects")[0].innerHTML}`)

		// Core Javascript
		script(src='js/lib/imagesloaded.pkgd.min.js')
		script(src='js/lib/masonry.pkgd.min.js')
		script(src='js/lib/materialize.min.js')
		script(src='js/lib/color-thief.min.js')
		script(src='js/lib/galleryExpand.js')
		script(src='js/lib/init.js')
