doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content='LE MONIES DE SAGAZAN Mayeul - Portfolio')
		meta(name='author' content='LE MONIES DE SAGAZAN Mayeul')
		title Mayeul - Portfolio
		// Lato Font
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
		// Stylesheet
		link(href='style/gallery-materialize.min.css' rel='stylesheet')
		link(href='style/gallery-additions.min.css' rel='stylesheet')
		// Material Icons
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
	body
		// Navbar and Header
		nav.nav-extended.nav-full-header.teal.lighten-2(style="user-select: none;")
			.nav-background
				img.active(src='/images/content/clouds.jpg')
				img(src='/images/content/42-school.jpg')
			.nav-wrapper.container
				a.brand-logo(href='mailto:m.lemoniesdesagazan@gmail.com')
					i.material-icons mail
					| Email me
				//- a.sidenav-trigger(href='#' data-target='nav-mobile')
					i.material-icons menu
				ul.right.hide-on-med-and-down.notvisible
					li
						a(href='/') Gallery
					li
						a(href='/') Dark Theme
					li
						a(href='/') Blog
					li
						a(href='/') Docs
					li.active
						a.dropdown-trigger(href='#' data-target='feature-dropdown')
							| Features
							i.material-icons.right arrow_drop_down
				// Dropdown Structure
				ul#feature-dropdown.dropdown-content
					li
						a(href='full-header.html') Fullscreen Header
					li
						a(href='horizontal.html') Horizontal Style
					li
						a(href='no-image.html') No Image Expand
			.nav-header.valign-wrapper
				.carousel.carousel-slider.center(data-indicators='true')
					.carousel-item.white-text(href='#one!')
						.container.valign-wrapper
							h1 LE MONIES DE SAGAZAN Mayeul
					.carousel-item.white-text(href='#two!')
						.container.valign-wrapper
							h1 Student at
								a(href="https://42.fr/en")
								img(src="/images/svgs/42.svg", alt="logo 42 school" height="100px" style="position: relative; top: 30px;")
								| Paris
			// Fixed Masonry Filters
			.categories-wrapper.amber.darken-3
				.categories-container
					ul.categories.container
						li.active
							a(href='#all') All
						li
							a(href='#polygon') Polygon
						li
							a(href='#bigbang') Big Bang
						li
							a(href='#sacred') Sacred Geometry
		ul#nav-mobile.sidenav.notvisible
			li
				a(href='/')
					i.material-icons camera
					| Gallery
			li
				a(href='/')
					i.material-icons brightness_3
					| Dark Theme
			li
				a(href='/')
					i.material-icons edit
					| Blog
			li
				a(href='/')
					i.material-icons school
					| Docs
			li.active
				a(href='/')
					i.material-icons fullscreen
					| Fullscreen Header
			li
				a(href='/')
					i.material-icons swap_horiz
					| Horizontal Style
			li
				a(href='/')
					i.material-icons texture
					| No Image Expand
		// Gallery
		#portfolio.section.gray
			.container
				.gallery.row#projects
					include portfolio/_gallery
		
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		
		template#dataProjects #{allProjects}
		script window.allProjects = JSON.parse(`${$("#dataProjects")[0].innerHTML}`)
		
		// Core Javascript
		script(src='js/imagesloaded.pkgd.min.js')
		script(src='js/masonry.pkgd.min.js')
		script(src='js/materialize.min.js')
		script(src='js/color-thief.min.js')
		script(src='js/galleryExpand.js')
		script(src='js/init.js')
