extends ../base/layout

block content
	.container
		form(action=`/projects/edit/${model.id}` enctype="multipart/form-data" method="post" autocomplete="off")
			h1.center-align.header.myred-text Edit: #{model.title}
			div.col.s12
				include _form

				.row
					div.row
						button.btn.waves-effect.waves-light(type='submit' name='action')
							| Update
							i.material-icons.right send
						a.waves-effect.waves-light.btn.myred(cancel href="/projects") Cancel